@page
@model IndexModel
@{
    ViewData["Title"] = "Requirement";
}

<div class="text-center">
    <h1 class="display-4">Requirement</h1>
</div><hr>

<h4 class="text-center font-italic font-weight-light">
    Write a web application which implements a guest book. A guest book record is identified by: author (email), title, comment, date. A client of the application should be able to add new entries in the guest book, but only the administrator of the site can delete or modify them. 
</h4>