<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="view_page.js" defer></script>
</head>
<body>

<h2>VIEW PAGE</h2>

<div id="bookDiv"></div>

<form id="normalView" action="view_books.php" method="post">
    <input type="hidden" name="normalView">
    <button id="normalViewButton" type="submit">Normal View</button>
</form>

<form id="groupedView" action="view_books.php" method="post">
    <input type="hidden" name="groupedView">
    <button id="groupedViewButton" type="submit">Grouped View</button>
</form>


</body>
</html>